{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Nouvelle Entrée{% endblock %}</h2>
{% endblock %}

{% block content %}

  <form class="log_entry_creation" method="post">
    <label for="entry_type">Type d'évènement</label>
    <select name="entry_type_id" id="entry_type_id" required>
      {% for entry_type in entry_types %}
        <option value="{{ entry_type.id }}" {% if request.form['entry_type_id'] == entry_type.id %}selected{% endif %}>{{ entry_type.name }}</option>
      {% endfor %}
    </select>
    <label for="event_time">Heure de l'évènement</label>
    <input type="time" name="event_time" id="event_time" value="{{ request.form['event_time'] }}" required>
    <label for="family_member_id">Membre de la famille</label>
    <input name="family_member_id" id="family_member_id" value="{{ request.form['family_member_id'] }}">
    <label for="amount">Quantité</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] }}">
    <label for="comments">Commentaires</label>
    <textarea name="comments" id="comments">{{ request.form['comments'] }}</textarea>
    <input type="submit" value="Enregistrer">
  </form>
{% endblock %}