{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Événements du jour{% endblock %}</h2>
  {% if g.user %}
    <a class="action" href="{{ url_for('journal.create') }}">Ajouter</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for log_entry in log_entries %}
  {% set entry_type = entry_types[log_entry['entry_type_id'] - 1] %}  
    <article class="log_entry">
      <header>
        <div class="details">
          <p class="log_entry"><b>{{ log_entry['event_time'].strftime('%H:%M') }} - {{ entry_type.name }}</b>
          {% if log_entry['amount'] %}
            {{ log_entry['amount'] }}
              {% if entry_type.unit %}
                {{ entry_type.unit }}
              {% endif %}
          {% endif %}
          </p>
          {% if log_entry['comments'] != "" %}
            <p class="comments">
              "{{ log_entry['comments'] }}"
            </p>
          {% endif %}
          <div class="about">
            Ajouté par <b>{{ log_entry['username'] }}</b>
            le {{ log_entry['created'].strftime('%d-%m-%Y') }}
            à {{ log_entry['created'].strftime('%H:%M') }}.
          </div>
        </div>
        {% if g.user['id'] == log_entry['author_id'] %}
        <div class="actions">
          <form action="{{ url_for('journal.update', id=log_entry['id']) }}" method="get">
            <input class="action" type="submit" value="Modifier">
          </form>
          <form action="{{ url_for('journal.delete', id=log_entry['id']) }}" method="post">
            <input class="danger" type="submit" value="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet évènement?');">
          </form>
        </div>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}