{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Modifier "{{ log_entry['entry_type'] }}"{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="entry_type">Type d'évènement</label>
    <input name="entry_type" id="entry_type"
      value="{{ request.form['entry_type'] or log_entry['entry_type'] }}" required>
    <label for="family_member_id">Membre de la famille</label>
    <input name="family_member_id" id="family_member_id"
      value="{{ request.form['family_member_id'] or log_entry['family_member_id'] }}">
    <label for="amount">Quantité</label>
    <input name="amount" id="amount"
      value="{{ request.form['amount'] or log_entry['amount'] }}">
    <label for="comments">Commentaires</label>
    <textarea name="comments" id="comments">{{ request.form['comments'] or log_entry['comments'] }}</textarea>
    <input type="submit" value="Enregistrer">
  </form>
  <hr>
  <form action="{{ url_for('journal.delete', id=log_entry['id']) }}" method="post">
    <input class="danger" type="submit" value="Supprimer" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet entry?');">
  </form>
{% endblock %}